html{
    /* min-height: 1000px; */
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
    position: fixed;
    bottom: 0;
}

input[type="checkbox"] {
    margin-right: 20px;
    height: 15px;
    text-decoration: line-through;
    text-decoration-color: #A683E3;
  }

.footer p {
    letter-spacing: 2px;
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
 font-weight: bold;
 
}

.hovertext {
    position: relative;
    border-bottom: 1px dotted black;
  }
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 140px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }
  
body {
  background-color: black;
  color: white;
}

.imgtext{
  margin-top: 150px;
  margin-left: 400px;
    position: absolute;
    top: 25%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: rgb(54, 199, 207);
    font-style: italic;
    font-family:'Times New Roman', Times, serif;
    font-size: 5rem;
    font-weight:bold;
    
}
.imgtext .svg-frame{
  margin-left: 800px;
}
.imgtext1{
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  color: rgb(230, 235, 240);
  
  font-family: 'Courier New', Courier, monospace;
  font-size: 2rem;
}
#stratergies{
  display: flex;
  text-align: left;
  gap: 30px;
  padding: 10px;
  border: 1px solid black;
  border-radius:1rem;
  box-shadow: 40px -10px teal;
}
#stratergies div{
 color: aqua;
}
#stratergies div p,#middlegame div p{
  color: white;
  font-weight: bold;
  font-size: 2rem;
 }
 #middlegame{
  display: flex;
  text-align: center;
  gap: 30px;
  padding: 50px;
  margin: 50px;
 }
 #middlegame div img{
  height: 300px;
  width: 300px;
  border-radius: 25px;
 }
 #position{
  display: flex;
  text-align: left;
  gap: 30px;
  padding: 50px;
  margin: 10px;
 }
 #position1{
  display: flex;
  text-align: left;
  margin: 40px;
  padding: 20px;
  gap: 200px;
 }
 
 #position div p{
  text-align: left;
  gap: 30px;
 }
 #position div h2{
  text-align: left;
  gap: 30px;
 }

 #games{
  display: flex;
  text-align: left;
  margin: 10px;
  padding: 10px;
  gap: 30px;
 }
 #games div p{
  text-align: left;
  padding: 10px;
  font-size: 2rem;
 }
 #games div h5{
  text-align: center;
 }
 

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}.img{
  height: 27px;
  margin: 0 10px;
}





/* counter */
.statistics-section {
  padding: 60px 0;
}

.stastic {
  background-color: #1f1f1f;
  padding: 40px 20px;
  border: 1px solid #444;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.stastic h4 {
  font-size: 48px;
  color: #fff;
  margin-top: 0;
  margin-bottom: 10px;
}

.stastic p {
  font-size: 18px;
  color: #aaa;
  margin: 0;
}

.counter {
  font-weight: bold;
}

.percent:after {
  content: '%';
}




/* animation */

.open
{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	pointer-events: none;
	z-index: 10000;
}
.open .layer
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform-origin: top;
	animation: open 1s ease-in-out forwards;
}
.open .layer:nth-child(1)
{
	background: #000;
	z-index: 2;
}
.open .layer:nth-child(2)
{
	background: #03a9f4;
	animation-delay: 1s;
	z-index: 1;
}
@keyframes open
{
	0%
	{
		transform: scaleY(1);
	}
	100%
	{
		transform: scaleY(0);
	}
}



/* logo */

.svg-frame {
  position: relative;
  width: 300px;
  height: 300px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-frame svg {
  position: absolute;
  transition: .5s;
  z-index: calc(1 - (0.2 * var(--j)));
  transform-origin: center;
  width: 344px;
  height: 344px;
  fill: none;
}


.svg-frame:hover svg {
  transform: rotate(-80deg) skew(30deg) translateX(calc(45px * var(--i))) translateY(calc(-35px * var(--i)));
}

.svg-frame svg #center {
  transition: .5s;
  transform-origin: center;
}

.svg-frame:hover svg #center {
  transform: rotate(-30deg) translateX(45px) translateY(-3px);
}

#out2 {
  animation: rotate16 7s ease-in-out infinite alternate;
  transform-origin: center;
}

#out3 {
  animation: rotate16 3s ease-in-out infinite alternate;
  transform-origin: center;
  stroke: #ff0;
}

#inner3,
#inner1 {
  animation: rotate16 4s ease-in-out infinite alternate;
  transform-origin: center;
}

#center1 {
  fill: #ff0;
  animation: rotate16 2s ease-in-out infinite alternate;
  transform-origin: center;
}

@keyframes rotate16 {
  to {
    transform: rotate(360deg);
  }
}


.username {
  position: relative;
  bottom: 0.3em;
  font-size: 0.7em;
  color: #777;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-item {
  color: #212529;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: #007bff;
}